body {
    background-color: #fff;
    font-size: 14px;
    min-width: 320px;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    margin: 0;
    padding: 0
}

.main-wrap {
    width: 320px;
    margin: 0 auto
}

.fix:after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden
}

.fl {
    float: left
}

.fr {
    float: right;
}

p {
    color: #707070;
}

.nav {
    height: 44px;
    background: #F7F7F9;
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #DCDCDC;
}

.upload-status {
    margin-top: 15px;
    color: #707070;
    font-size: 14px;
    border-top: 1px solid #dcdcdc;
    line-height: 40px;
}

.upload-status span {
    color: #313131;
    font-weight: bold;
}

.file-picker-text {
    font-size: 16px;
    color: #fc7c26;
    margin: 20px 0 0 15px;
    float: left;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
}

.queueList {
    padding-top: 12px;
    overflow: hidden;
}

#container {
    color: #838383;
    font-size: 12px;
}

#uploader .queueList.filled {
    padding: 17px;
    margin: 0;
    border: 3px dashed transparent;
}

#uploader .queueList.webuploader-dnd-over {
    border: 3px dashed #999999;
}

#filePicker, #uploader .item {
    position: relative;
    display: block;
    width: 92px;
    height: 92px;
    line-height: 84px;
    margin: 0 0 10px 10px;
    font-size: 18px;
    padding: 0;
    float: left;
}

#filePicker {
    background: #ddd;
    border: 2px dashed #aaa;
}

#filePicker .trigger {
    width: 100%;
    height: 100%;
    color: #777;
    text-align: center;
    font-size: 50px;
    display: block;
    cursor: pointer;
}

#uploader .item {
    background: #eee;
    border: 2px solid #ddd;
    overflow: hidden;
}

#uploader .imgWrap {
    margin: 0;
    text-align: center;
}

#uploader .filelist img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

#uploader .filelist {
    margin: 0;
    padding: 0;
}

#uploader .filelist .sn-html5-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -12px;
}

#uploader .progress-box {
    height: 63px;
    padding: 0 20px;
    line-height: 63px;
    vertical-align: middle;
    position: relative;
}

#uploader .progress-box .progress {
    border: 1px solid #BDBDBD;
    width: 198px;
    background: #fff;
    height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #666;
    position: relative;
    margin: 0 10px 0 0;
}

#uploader .progress-box .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #BDBDBD;
    position: absolute;
}

#uploader .progress-box .progress span.text {
    position: relative;
    z-index: 10;
}

