<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <title>手机传图-前端修复</title>
    <link rel="stylesheet" type="text/css" href="/style/upload.css">
    <script src="http://m.suning.com/RES/wap/common/script/lib/zepto/1.1.4/zepto.min.js"></script>
</head>
<body>
<!-- ▼头部 -->
<div class="nav">
    手机传图-前端修复
</div>
<!-- ▲头部 -->
<!-- ▼主体 -->
    <div class="main-wrap">
            <div id="uploader">
                <div class="queueList fix">
                    <div class="filelist"></div>
                    <div id="filePicker">
                        <label class="trigger">+</label>
                        <input type="file" name="file" class="webuploader-element-invisible" accept="image/*">
                    </div>
                </div>
                <div class="progress-box">
                    <div class="progress">
                        <span class="text">0%</span>
                        <span class="percentage"></span>
                    </div><div class="info"></div>
                </div>
            </div>
    </div>
<!-- ▲主体 -->
<script src="/script/binaryajax.js"></script>
<script src="/script/exif.js"></script>
<script src="/script/canvasResize.js"></script>
<script src="/script/front.js"></script>
</body>
</html>